@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.footer-container {
  background-color: #1f493d;
  font-family: "Playfair Display", serif;
  padding: 3rem 5rem;
  color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  // justify-content: left;

  /* Content Layout */
  .footer-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  /* Logo */
  .footer-logo {
    img {
      max-width: 150px; /* Adjust size as necessary */
    }
  }

  /* Columns */
  .footer-columns {
    display: flex;
    gap: 4rem;

    .footer-column {
      h4 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 0.8rem;
          a {
            color: white;
            text-decoration: none;
            font-size: 0.9rem;
            transition: color 0.3s ease;

            &:hover {
              color: #b8d0b5; /* Green color on hover */
            }
          }
        }
      }

      p {
        font-size: 0.9rem;
        line-height: 1.5;
      }
    }
  }

  /* Footer Bottom with Divider and Social Icons */
  .footer-bottom {
    margin-top: 1rem;
    justify-content: center;
    text-align: center;
  }

  .footer-social {
    display: flex;
    margin-top: 10px;
    justify-content: left;
    gap: 1.5rem;

    a {
      img {
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1); /* Slight grow on hover */
        }
      }
    }
  }
}
.footer-contact{
  >div>a{
    text-decoration: none;
    color: azure;
   
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-columns {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .footer-social {
    margin-top: 2rem;
  }
}
