.footer-container {
    background-color: #004b3e;
    padding: 3rem 5rem;
    color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
  
    /* Content Layout */
    .footer-content {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
    }
  
    /* Logo */
    .footer-logo {
      img {
        max-width: 150px; /* Adjust size as necessary */
      }
    }
  
    /* Columns */
    .footer-columns {
      display: flex;
      gap: 4rem;
  
      .footer-column {
        h4 {
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }
  
        ul {
          list-style: none;
          padding: 0;
  
          li {
            margin-bottom: 0.8rem;
            a {
              color: white;
              text-decoration: none;
              font-size: 1rem;
              transition: color 0.3s ease;
  
              &:hover {
                color: #02835a; /* Green color on hover */
              }
            }
          }
        }
  
        p {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }
  
    /* Footer Bottom with Divider and Social Icons */
    .footer-bottom {
      margin-top: 2rem;
  
      .footer-divider {
        width: 100%;
        height: 2px;
        background-color: #ffffff80;
        margin: 2rem 0;
      }
  
      .footer-social {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
  
        a {
          img {
            width: 30px;
            height: 30px;
            transition: transform 0.3s ease;
  
            &:hover {
              transform: scale(1.1); /* Slight grow on hover */
            }
          }
        }
      }
    }
  
    /* Responsive Design */
    @media (max-width: 1024px) {
      .footer-content {
        flex-direction: column;
        align-items: center;
      }
  
      .footer-columns {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
      }
  
      .footer-social {
        margin-top: 2rem;
      }
    }
  }
  