@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.route-active {
  font-weight: 600;
  color: #b8d0b5 !important;
}
.menu-item {
  color: #1f493d !important;
}
.header {
  font-family: "Playfair Display", serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 2rem;
  margin: 0;
  background-color: #f2f1f0;
  z-index: 1000;
  box-shadow: 0px 4.2px 4.2px 0px #00000040;
  font-family: "Playfair Display", serif;
  font-weight: 600;

  .logo img {
    // width: fit-content;
    z-index: 2000;
  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px 0;
    gap: 4px;
  }
  .desktop-nav {
    display: none;
  }

  .desktop-nav,
  .nav {
    ul {
      z-index: 2000;
      font-family: "Playfair Display", serif;
      display: flex;
      list-style: none;
      gap: 2rem;

      li {
        a {
          text-decoration: none;
          color: #1f493d;
          font-weight: 500;
          font-size: 17px;
          cursor: pointer;

          &:hover {
            color: #b8d0b5;
            transition: color 0.3s ease;
          }
        }
      }
    }
  }

  .desktop-contact-us {
    display: none;
  }

  .contact-us,
  .desktop-contact-us {
    margin-right: 2rem;
    button {
      font-family: "Playfair Display", serif;
      color: #fff;
      padding: 0.8rem 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
      background: #1f493d;

      &:hover {
        font-family: "Playfair Display", serif;
        background-color: #b8d0b5;
        color: #333;
      }
    }
  }
}
// .dropdown{
//   padding: 10px;
//   &:hover{
//     background-color: #b8d0b5;
//     color: #1f493d;
//   }
// }

// @media (max-width: 768px) {
//   .nav ul {
//     display: none; /* Hide nav items for mobile, you can add a hamburger menu later */
//   }

//   .contact-us button {
//     font-size: 0.9rem;
//     padding: 0.4rem 0.8rem;
//   }
// }

// @media (max-width: 1024px) {
//   .logo img {
//     width: 100px; /* Adjust for smaller screens */
//   }

//   .nav ul {
//     gap: 1rem; /* Reduce gap between links on smaller screens */
//   }

//   .contact-us button {
//     padding: 0.4rem 1rem;
//   }
// }

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
    width: 98%;
  }

  .logo {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .logo img {
    width: 40px;
  }

  .header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
  }

  .nav {
    width: 100%;
    ul {
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
    }

    li {
      a {
        font-size: 15px;
      }
    }
  }

  .contact-us {
    width: 94%;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0;
    button {
      width: 100%;
      padding: 0.7rem;
    }
  }
}
@media (min-width: 768px) {
  .hamburger {
    display: none !important; /* Hide hamburger on larger screens */
  }

  .nav {
    display: none !important; /* Hide drawer on larger screens */
  }
  .contact-us {
    display: none !important;
  }

  .desktop-nav {
    display: block !important; /* Show horizontal nav on larger screens */
  }
  .desktop-contact-us {
    display: block !important;
  }
}
