@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.about-us-container {
    background-color: #f7f7f7;
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    overflow: hidden; /* Prevents content overflow during animation */
    position: relative;
  
    .image-container, .text-container {
      transition: transform 1s ease, opacity 1s ease;
      opacity: 0; /* Start with invisible elements */
    }
  
    .image-container {
      // flex: 1;
      padding-left: 120px;
      transform: translateX(-100%); /* Initially out of view */
      
      img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
      }
    }
  
    .text-container {
      flex: 2;
      padding-right: 120px;
      transform: translateX(100%); /* Initially out of view */
  
  
      .bold-text {
        font-family: "Lato", sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        letter-spacing: 2%;
      }
  
      p {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        letter-spacing: 10%;
        margin-bottom: 1rem;
        font-size: 1rem;
        line-height: 1.6;
      }
  
      .learn-more {
        font-size: 1.1rem;
        text-decoration: none;
        color:#02835a;
        position: relative;
        cursor: pointer;
        transition: color 0.3s ease;
        font-family: "Lato", sans-serif;
        font-weight: 600;
  
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #004b3e;
          left: 0;
          bottom: -5px;
          transition: transform 0.3s ease;
          transform: scaleX(0);
          transform-origin: right;
        }
  
        &:hover {
          color: #004b3e;
        }
  
        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  
    .animate {
      transform: translateX(0); /* Reset to visible position */
      opacity: 1; /* Fade in the elements */
    }
  }
  
  @media (max-width: 768px) {
    .about-us-container {
      flex-direction: column;
  
      .image-container,
      .text-container {
        transform: translateX(0); /* No animation on mobile */
        opacity: 1;
      }
  
      .text-container {
        padding-left: 0;
        padding-top: 2rem;
        text-align: center;
  
        .bold-text {
          font-size: 1.1rem;
        }
      }
    }
  }
  