@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.about_heading {
  font-family: "Playfair Display", serif;
  margin-top: 20px;
  position: relative;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #1f493d;
  text-align: center;
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    bottom: -5px;
    left: 48%;
    border-bottom: 2px solid #1f493d;
  }
}
.about-us-container {
  background-color: #f7f7f7;
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  overflow: hidden; /* Prevents content overflow during animation */
  position: relative;

  .image-container,
  .text-container {
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0; /* Start with invisible elements */
  }

  .image-container {
    // flex: 1;
    padding-left: 120px;
    transform: translateX(-100%); /* Initially out of view */

    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    }
  }

  .text-container {
    flex: 2;
    padding-right: 120px;
    transform: translateX(100%); /* Initially out of view */

    .bold-text {
      font-family: "Playfair Display", serif;
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      letter-spacing: 2%;
      color: #1f493d;
    }

    p {
      font-family: "Playfair Display", serif;
      font-weight: 400;
      letter-spacing: 10%;
      margin-bottom: 1rem;
      font-size: 1rem;
      line-height: 1.6;
    }

    .learn-more {
      font-size: 1.1rem;
      text-decoration: none;
      color: #1f493d;
      position: relative;
      cursor: pointer;
      transition: color 0.3s ease;
      font-family: "Playfair Display", serif;
      font-weight: 600;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #1f493d;
        left: 0;
        bottom: -5px;
        transition: transform 0.3s ease;
        transform: scaleX(0);
        transform-origin: right;
      }

      &:hover {
        color: #1f493d;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  .animate {
    transform: translateX(0); /* Reset to visible position */
    opacity: 1; /* Fade in the elements */
  }
}

// @media (max-width: 768px) {
//   .about-us-container {
//     flex-direction: column;

//     .image-container,
//     .text-container {
//       transform: translateX(0); /* No animation on mobile */
//       opacity: 1;
//     }

//     .text-container {
//       padding-left: 0;
//       padding-top: 2rem;
//       text-align: center;

//       .bold-text {
//         font-size: 1.1rem;
//       }
//     }
//   }
// }

@media (max-width: 1280px) {
  .about_heading {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 1rem;
    &::after {
      left: 50%;
    }
  }

  .about-us-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 2rem;

    .image-container {
      padding-left: 0;
      // width: 100%;
      transform: translateX(0); /* Start in view on smaller screens */

      img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }

    .text-container {
      padding-right: 0;
      width: 100%;
      transform: translateX(0); /* Start in view on smaller screens */
      text-align: center;
      .bold-text {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        text-align: center;
      }

      p {
        font-size: 0.95rem;
        line-height: 1.5;
        text-align: center;
      }

      .learn-more {
        font-size: 1rem;
        text-align: center;
        // display: block;
        margin: 1rem auto;
      }
    }
  }
}
