@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.products-container {
  // background-color: #f7f7f7;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .divider {
    width: 1200px;
    margin-right: 50px;
    border: none;
    height: 1px;
    background-color: #ccc;
  }

  .heading-container {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;

    h2 {
      position: relative;
      font-size: 38px;
      font-weight: bold;
      margin-bottom: 1rem;
      color: #1f493d;
      &::after {
        content: "";
        position: absolute;
        width: 90px;
        bottom: -5px;
        left: 45%;
        border-bottom: 2px solid #1f493d;
      }
    }
  }

  .product-item {
    display: flex;
    align-items: center; /* Ensures image and content are vertically aligned */
    justify-content: center; /* Ensures space between image and content */
    margin-bottom: 2rem;
    margin-top: 1rem;
    gap: 200px;
    .canvas-container {
      width: 360px;
      height: 540px
    }

    .content {
      flex: 1;

      h3 {
        font-family: "Playfair Display", serif;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #1f493d;
      }

      p {
        // max-width: 500px;
        font-family: "Playfair Display", serif;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 2rem;
      }
      .learn-more-link {
        font-size: 1.1rem;
        text-decoration: none;
        color: #1f493d;
        position: relative;
        cursor: pointer;
        transition: color 0.3s ease;
        font-family: "Playfair Display", serif;
        font-weight: 600;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #1f493d;
          left: 0;
          bottom: -5px;
          transition: transform 0.3s ease;
          transform: scaleX(0);
          transform-origin: right;
        }

        &:hover {
          color: #1f493d;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
    .image {
      img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 400px;
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Simple shadow */
        transition: transform 0.4s ease, box-shadow 0.4s ease;
        border: none; /* No border */

        &:hover {
          transform: scale(1.05); /* Simple scaling effect on hover */
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Shadow grows on hover */
        }
      }
    }

    /* Alternating layout for even and odd rows */
    &.left-content {
      flex-direction: row; /* Default layout: content on left, image on right */
      text-align: left;
    }

    &.right-content {
      flex-direction: row-reverse; /* Reverse layout: image on left, content on right */
      text-align: right;
    }
    @media (max-width: 1024px) {
      gap: 50px; /* Reduce the gap between content and image */
    }

    @media (max-width: 768px) {
      flex-direction: column !important; /* Stack content and image vertically */
      align-items: center; /* Center align items */
      text-align: center !important; /* Center text for smaller screens */
      .content h2 {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 1rem;
        &::after {
          left: 50%;
        }
      }
      .image {
        margin-bottom: 2rem;
        width: 100%;
        transform: translateX(0); /* Add some space between image and text */
      }
    }

    @media (max-width: 480px) {
      .content h3 {
        font-size: 1.2rem;
        padding-right: 2px;
        width: 100%;
        // transform: translateX(0); /* Make the heading smaller */
      }

      .content p {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 0.9rem;
        line-height: 1.5;
        padding: 8px;
        width: 90vw;
        // text-align: justify; /* Make the description smaller */
      }

      .learn-more-link {
        font-size: 1rem;
        text-align: center;
        display: block;
        margin: 1rem auto; /* Adjust the font size for smaller screens */
      }
    }
  }

  /* Responsive adjustments */
  // @media (max-width: 1024px) {
  //   .product-item {
  //     flex-direction: column; /* Stack content and image vertically on smaller screens */

  //     .content {
  //       text-align: center;
  //     }

  //     .image {
  //       img {
  //         max-width: 100%;
  //       }
  //     }
  //   }
  // }
  @media (max-width: 1024px) {
    .heading-container h2 {
      font-size: 32px;
    }
  }

  @media (max-width: 768px) {
    padding-left: 50px;
    padding-right: 50px;
    .heading-container h2 {
      font-size: 28px;
    }
  }

  @media (max-width: 480px) {
    .heading-container h2 {
      font-size: 24px;
    }
  }

  @media (max-width: 1280px) {
    padding-left: 100px !important;
    padding-right: 100px !important;
    iframe {
      width: 360px;
      height: 240px;
    }
  }
}
