@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");


.slider {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-image 0.8s ease-in-out;

  .slider-content {
    text-align: center;
    color: #fdfdfd;
    z-index: 2;

    .tagline {
      font-size: 20px;
      font-family: "Playfair Display", serif;
      font-weight: 700;
      letter-spacing: 10%;
      margin-bottom:10px;
      align-items: center;
      box-shadow: 0px 4px 4px 0px #00000040;
    }

    .sub-tagline {
      font-size: 14px;
      font-family: "Playfair Display", serif;
      font-weight: 300;
      padding: 10px 35px;
      line-height: 20px;
      max-width: 600px;
      letter-spacing: 10%;
      margin-top: 20px;
      align-items: center;
      justify-content: center;
    }
  }

  /* Optional dark overlay to enhance text visibility */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .slider {
    height: 400px; /* Adjust height for smaller screens */

    .slider-content {
      .tagline {
        font-size: 2rem;
      }

      .sub-tagline {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .slider {
    height: 300px; /* Further adjust for mobile */

    .slider-content {
      .tagline {
        font-size: 1.5rem;
      }

      .sub-tagline {
        font-size: 1rem;
      }
    }
  }
}
