/* Fixed Background */
.testimonials-section {
  background-image: url("/public/testimonials/testimonials.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 10px 0; /* Adjust padding for desired spacing */
  position: relative;
  height: 50vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.section-heading {
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold;
  color: azure;
  margin-bottom: 40px;
}

/* Scrolling Content */
.scrolling-content {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.testimonials-container {
  display: flex;
  /* Smooth continuous scroll */
  animation: scrollLeft 20s linear infinite;
}

.testimonial-box {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
  min-width: 300px;
  max-width: 400px;
  margin-right: 60px;
  background-color: rgba(255, 255, 255, 0.2); /* Transparent background */
  color: white;
  position: relative;
}

.customer-photo {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  margin-right: 15px;
  position: absolute;
  top: 20px;
  left: -40px;
}

.testimonial-details {
  text-align: left;
  padding-left: 40px;
}

.customer-name {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
}

.stars {
  font-size: 1em;
  color: gold;
  margin: 5px 0;
}

.testimonial-text {
  font-size: 0.9em;
  line-height: 1.4;
  margin: 0;
}

/* Smooth Scrolling Animation */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-402px * 5));
  }
}
